/* macOS THEME */
body {
  margin: 0;
  height: 100vh;
  background: url('images/wallpaper.jpg') no-repeat center/cover;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


#menu-bar {
  height: 25px;
  background: rgba(230,230,230,0.8);
  backdrop-filter: blur(20px);
  display: flex;
  padding: 0 10px;
  align-items: center;
  color: #333;
  font-size: 13px;
}

.finder, .edit, .file, .web {
  margin-right: 10px;
  margin-left: 10px;
}


.desktop-icon {

  align-items: center;
  text-align: center;
  margin: 20px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}


.desktop-icon img {
  width: 65px;
  height: 45px;
  object-fit: contain;
  transform: scale(1.2); 
  transform-origin: center;
  margin-bottom: 5px;

}

.desktop-icon p {
  margin-top: 0;
  padding: 0;
}


#dock {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  height: 58px;
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(20px);
  border-radius: 16px;
  display: flex;
  padding: 0 10px;
  border: 0.5px solid rgba(0,0,0,0.1);
  gap: 10px;
}

.dock-icon {
  width: 48px;
  height: 48px;
  margin: 4px 4px;
  transition: 0.2s;
}

.dock-icon img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.dock-icon:hover {
  transform: scale(1.2) translateY(-5px);
}

/* DESKTOP ICONS */
.desktop-icon {
  position: absolute;
  width: 80px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}
.desktop-icon img {
  width: 48px;
  height: 48px;
}

/* WINDOWS */
.window {
  position: absolute;
  width: 600px;
  height: 400px;
  background: rgba(245,245,245,0.9);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  overflow: hidden;
  display: none; /* Hidden by default */
}
.title-bar {
  height: 28px;
  background: linear-gradient(rgba(210,210,210,0.9), rgba(190,190,190,0.9));
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: move;
}
.window-controls span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 6px;
  display: inline-block;
}
.close { background: #ff5f57; }

.close:hover {
  cursor: pointer;
}

.minimize { 
  background: #ffbd2e; 
}

.minimize:hover {
  cursor: pointer;
}

.maximize { 
  background: #28c940;
}

.maximize:hover {
  cursor: pointer;
}